@media only screen and (min-width: 960px) {
  
h1 {
  font-size: var(--h1);
  font-weight: 600;
  line-height: 4.625rem;
}
h2 {
  font-size: var(--h2);
  line-height: 3.25rem;
}
h3 {
  font-size: var(--h3);
  line-height: 3.375rem;
}
h4 {
  font-size: var(--h4);
  line-height: 2.25rem;
}

  main {
    padding-top: 0 ;
  }

    /* Nav  */
  
    .logo {
      /* width: 4.375rem; */
  /* max-width: 4.375rem; */
      padding: 0;
    }
  
    .open {
      display: none;
    }
    .phone,
    .contact {
      border-radius: var(--border-radius-20);
    }
    .phone > div,
    .contact > div {
      flex-direction: row;
      gap: 1rem;
    }
  
    .phone > div > svg,
    .contact > div > svg,
    .basket-icon > div > svg,
    .person > div > svg {
      width: 1.333rem;
      height: auto;
    }
  
    .phone-nav {
      display: flex !important;
      gap: 1rem;
    }
  
    .phone > div > p,
    .contact > div > p {
      font-size: 1rem;
      /* font-weight: 600; */
    }
  
    .basket-icon > div {
      flex-direction: row !important;
      gap: 1rem;
      font-weight: 600;
      /* display: none; */
    }
  
    .basket-icon > div > p {
      font-size: 1rem;
    }
  
    .person > div {
      flex-direction: row !important;
      gap: 1rem;
      font-weight: 600;
      /* display: none; */
    }
  
    .person > div > p {
      font-size: 1rem;
    }
  
    .close svg,
    .open svg,
    .basket-icon svg,
    .close-modal svg,
    .person svg,
    .phone svg,
    .contact svg {
      width: 24px;
      height: auto;
    }
  
    .person,
    .basket-icon {
      display: flex;
    }

    #menu {
      background-color: var(--zero);
    }
  
    #menu-desk {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      /* flex-wrap: wrap; */
    }
    #menu-desk ul {
      flex-flow: row;
      gap: 1rem;
      /* background: transparent; */
    }
    
    /* #submenu {
      display: none;
    } */
    ul#submenu{
      background: var(--zero);
      box-shadow: var(--btn-shadow);
      border-radius: var(--border-radius-20);
      display: none;
      flex-flow: column !important;
      width: 100%;
      min-width: 200px;
      position: absolute;
      top: 42px;
      left: -10px;
      align-items: flex-start;
    }
    #submenu ul li {
      width: fit-content;
      cursor: pointer;
    }
  
    main {
      padding-top: 90px ;
      position: relative;
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
    
    /* Nav */

    nav {
      height: 90px;
    }
    
    .nav-container {
      min-height: 90px;
      padding: var(--plr-medium);
    }
    
    nav ul {
      height: 90px;
      align-items: center;
      /* background-color: rgba(255, 255, 255, 0.55); */
      backdrop-filter: blur(0px);
      /* -webkit-text-fill-color: var(--purple) !important; */
    }

    nav ul li {
      min-width: fit-content;
      border: none;
      padding: var(--plr);
      flex-flow: row;
      /* margin: 0; */
    }

    nav ul li a {
      background: none;
      border-radius: none;
      box-shadow: none; 
      letter-spacing: 0px;
    }
  
    .icon-bg-gradient {
      width: 3.75rem;
      height: 3.75rem;
      padding: var(--p);
      background: -webkit-linear-gradient(#2C0CAD, #FF402C) !important;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      box-shadow: var(--shadow);
      border-radius: var(--border-radius-100);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    /* Buttons */

    /* Components  */
    
    /* Home  */

    /* Hero Home */

    .heros-container {
      grid-column: 1 / -1;
      width: 100%;
      /* height: 550px; */
      height: 100vh !important;
      /* height: 80vh !important; */
      overflow: hidden;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      background-image: url("../../../public/home_hero_bg.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .home-hero-image, .solution-hero-image, .products-hero-image, .customers-stories-hero-image , .home-revolution-image,.autom-mate-hero-image
     {
      aspect-ratio: 1/1;
      width: 100% !important;
    }

    .home-hero-text, .solution-hero-text, .products-hero-text {
      flex-direction: column;
      /* justify-content: space-around; */
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      /* padding: var(--p-medium); */
      text-align: left;
      position: relative;
    }

    .home-hero-text h4 {
      /* font-size: 1.5rem; */
      margin: 0;
    }

    /* Home Advantages */

    .icons_home_advantages {
      font-size: 36px;
    }

    /* Home Revolutioning */

    .home-revolution-container {
      grid-column: 1 / -1;
      width: 100%;
      overflow: hidden;
    }

    .home-revolution-text {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      text-align: left;
      position: relative;
    }

    .home-revolution-benefits {
      width: 100%;
      margin: var(--mb-large);
    }

    #home-advantages-title {
      text-align: left !important;
    }

    /* Columns in the grid  */

    .col-1-3 {
      /* display: inline-grid; */
      grid-column: 1 / 3;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-1-4 {
      /* display: inline-grid; */
      grid-column: 1 / 4;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-1-5 {
      /* display: inline-grid; */
      grid-column: 1 / 5;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-1-6 {
      /* display: inline-grid; */
      grid-column: 1 / 6;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-1-7 {
      /* display: inline-grid; */
      grid-column: 1 / 7;
      grid-row: 1 / -1;
      width: 100%;
    }
    .col-1-8 {
      /* display: inline-grid; */
      grid-column: 1 / 8;
      grid-row: 1 / -1;
      width: 100%;
    }
    .col-1-9 {
      /* display: inline-grid; */
      grid-column: 1 / 9;
      grid-row: 1 / -1;
      width: 100%;
    }
    .col-1-10 {
      /* display: inline-grid; */
      grid-column: 1 / 10;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-2-12 {
      /* display: inline-grid; */
      grid-column: 2 / 12;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-3-5 {
      /* display: inline-grid; */
      grid-column: 3 / 5;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-3-6 {
      /* display: inline-grid; */
      grid-column: 3 / 6;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-3-7 {
      /* display: inline-grid; */
      grid-column: 3 / 7;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-3-11 {
      /*it is wrong, I have just changed for the Tablet version, the right one is below in Desktop @media*/
      /* display: inline-grid; */
      grid-column: 3 / 11;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-4-6 {
      /* display: inline-grid; */
      grid-column: 4 / 6;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-4-7 {
      /* display: inline-grid; */
      grid-column: 4 / 7;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-4-10 {
      /*it is wrong, I have just changed for the Tablet version, the right one is below in Desktop @media*/
      /* display: inline-grid; */
      grid-column: 4 / 10;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-8-11 {
      /* display: inline-grid; */
      grid-column: 8 / 11;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-5-7 {
      /* display: inline-grid; */
      grid-column: 5 / 7;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-5-8 {
      /* display: inline-grid; */
      grid-column: 5 / 8;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-5-9 {
      /* display: inline-grid; */
      grid-column: 5 / 9;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-5-13 {
      /* display: inline-grid; */
      grid-column: 5 / 13;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-5-11 {
      /* display: inline-grid; */
      grid-column: 5 / 11;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-9-13 {
      /* display: inline-grid; */
      grid-column: 9 / 13;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-7-9 {
      /* display: inline-grid; */
      grid-column: 7 / 9;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-7-10 {
      /* display: inline-grid; */
      grid-column: 7 / 10;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-6-13 {
      /* display: inline-grid; */
      grid-column: 6 / 13;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-7-11 {
      /* display: inline-grid; */
      grid-column: 7 / 11;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-7-13 {
      /* display: inline-grid; */
      grid-column: 7 / 13;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-8-13 {
      /* display: inline-grid; */
      grid-column: 8 / 13;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-9-11 {
      /* display: inline-grid; */
      grid-column: 9 / 11;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-11-13 {
      /* display: inline-grid; */
      grid-column: 11 / 13;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-10-13 {
      /* display: inline-grid; */
      grid-column: 10 / 13;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-12 {
      /* display: inline-grid; */
      grid-column: 1 / 13;
      grid-row: 1 / -1;
      width: 100%;
    }

    .col-12-13 {
      /* display: inline-grid; */
      grid-column: 12 / 13;
      grid-row: 1 / -1;
      width: 100%;
    }

    /* Main Container Page  */    
  .wide {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;
  }

    .wide-container {
      width: 100vw;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .grid,
    .grid-center {
      /*Wrapper is actually the main container*/
      /* grid-template-columns: repeat(auto-fill, minmax(5.188rem, 1fr)); */
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* grid-template-columns: repeat(auto-fill, minmax(6%, 1fr)); */
      /* grid-template-rows: 1fr; */
      gap: 1.875rem;
      width: 100%;
      max-width: 1520px;
      height: 100%;
      padding: var(--p-large) !important;
    }
  
    .grid {
      justify-items: start;
      align-items: start;
    }
  
    .grid-center {
      justify-items: center;
      align-items: center;
    }
      
    .grid-blog {
      /* grid-column: 1 / -1; */
      display: grid;
      grid-template-columns: repeat(4, 1fr) !important;
      grid-template-rows: 1fr;
      row-gap: 0;
      column-gap: 1.875rem;
      width: 100%;
      max-width: 1512px;
      height: 100%;
      padding: var(--p-medium) !important;
    }

    .grid-stories {
      /* grid-column: 1 / -1; */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      row-gap: 0;
      column-gap: 1.875rem;
      width: 100%;
      max-width: 1512px;
      height: 100%;
      /* padding-top: 0; */
    }

    /* Components  */

    /* Advantages Home*/
    /* Icons togther with gradient icons */

    .home-advantage-et,
    .home-advantage-to,
    .home-advantage-tre {
      flex-direction: row;
    }

/* Solution */

.ex-clarification {
 height: 500px;
 aspect-ratio: 1 / 1;
 object-fit: cover;
 background-size: cover;
}


.offerings {
  /* height: 500px; */
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-size: contain;
}

.offerings-col-container {
  gap: 5rem;
}

.wide:has(#solution-offerings) {
  background-color: var(--five);
}

#faq-questions {
  text-align: center;
}

#solution-ready {
  text-align:center;
  /* padding: var(--ptb-large); */
}
.btn-purple {
  margin: var(--m-auto);
}

.btn {
  background-color: var(--zero) !important;
}

/* Accordion  */

/* Products Page */

#products-benefit {
  text-align: center;
}

#products-ready {
  text-align: center;
}

#fourme-hero-bg {
  object-fit: contain;
  /* background-size: contain; */
  background-size: 105%;
}

.logo-4me-intro, .logo-outsystems-intro {
  /* grid-column: 1 / -1; */
  width: 100%;
  min-width: 100%;
  height: 130px;
  object-fit: contain;
  /* background-image: url("../../../public/home_hero_bg.svg"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  aspect-ratio: 16 / 9;
  /* position: relative; */
}
.logo-4me-intro {
  background-image: url("../../../public/products_logo_4me.svg");
}
.logo-outsystems-intro {
  background-image: url("../../../public/products_logo_outsystems.svg");
}
#products-parallax {
  font-size: 7.75rem !important;
  letter-spacing: -4px;
}
.guiding {
  top: -200px !important;
}
/* Fourme Page */

#fourme-intro {
  width: 100%;
  height: auto;
  max-width: 1512px;
  /* padding: var(--p-large); */
  margin: var(--mt-large);
  /* aspect-ratio: 16/9; */
}

#fourme-attributes-title {
  /* padding: var(--p) !important; */
  text-align: left !important;
}

.fourme-attributes-container, .fourme-optimize-container, .autom-mate-advantages-container {
  padding: var(--p-medium);
}
/* .autom-mate-advantages-container {
  padding: var(--p-large);
} */

.fourme-attribute, .fourme-optimize, .autom-mate-advantage {
  max-width: 23.4%;
  padding: var(--p-medium);
}

/* Autom Mate Page */

.autom-mate-box{
  margin: 0;
  height: 600px;
    max-height: 700px;
}

/* Customers Stories Pages */

.customer-story-image {
  background-position: bottom;
}

.customer-story-description p {
  max-height: 90px;
}

.customer-story-opened-hero-container {
  min-height: 400px;
}

/* About Page */

.peter-lasse-container {
  flex-direction: row;
}

/* insights Page*/

/* Contact Us Page */

#contact-form ul li a:hover {
  color: var(--zero);
} 
form {
  padding: var(--p-medium) !important;
}

/* Accordion Process */

/* Embla */

.embla, .embla__slide {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.embla__buttons {
  top: 3rem;
  height: fit-content;
  }

/* Footer  */

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: self-start;
    align-items: self-start;
    padding: var(--p-large);
    gap: 30px;
  }

  .logo-footer {
    width: 7rem;
    max-width: 7rem;
  }  
  footer ul.ul-logo li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  footer ul.ul-logo {
    grid-column: 1 / 4;
  }
  footer ul.contact {
    grid-column: 5/8;
  }
  footer ul.menu-footer {
    grid-column: 9/11;
  }
  footer ul.some {
    grid-column: 11 / 13;
  }
  /* footer ul .trustpilot {
    grid-column: 5 / 6;
    margin: var(--mtb);
  } */

  .contact-info-footer {
    grid-column: 1 / -1;
    margin: var(--mtb);
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .contact-info-footer ul li {
    /* width: auto; */
    gap: 1rem;
    width: fit-content !important;
  }

  footer ul {
    margin: var(--mt-large);
  }

  footer ul li {
    justify-content: flex-start;
  }

  /* Blog */

.article-main-image{
  height: 805.5px;
}
.title-article-opened {
  margin-top: -165px;
}
.post-img-body {
  width: 80%;
  margin: var(--mtb-medium);
}
.overlay {
  height: 805.5px;
}
}

@media only screen and (min-width: 1920px) {

  .heros-container {
    height: 60vh;
  }

}