@media only screen and (min-width: 768px) {

  /* Nav */

  nav ul li a {
    padding: var(--p);
    font-size: 2.625rem;
  }
  
  /* Hero Image */
  
  .home-hero-image, .solution-hero-image, .products-hero-image, .customers-stories-hero-image , .home-revolution-image {
    width: 60%;
  }
  /* #home-advantages, .home-revolution-text, .home-revolution-benefits > div:first-child, .solution-hero-text, .products-hero-text, #fourme-hero-bg, #fourme-advantages, .fourme-siam, #client-stories, #fourme-attributes-title, #fourme-attributes {
    padding: var(--p-large) !important;
  } */

  .wide {
    padding: var(--p-large);
  }

  .grid, .grid-center, .grid-blog, .grid, .grid-center, .grid-stories, .grid-blog, .grid-stories{
    padding: 0;
  }

  .grid-blog {
    grid-template-columns: 1fr 1fr;
  }

  a.post-link, .post {
    width: 100%;
  }

  /* Fourme Page */

  #fourme-attributes-title {
    text-align: center;
  }
  
  #customers-logos, #meet-our-team {
    flex-direction: row;
  }

  #home-advantages-title {
    text-align: center;
  }


  
}
    
@media only screen and (min-width: 1920px) {

  .heros-container {
    height: 60vh;
  }

}
