@media only screen and (min-width: 768px) {

  /* Nav */
  nav ul li a {
    padding: var(--p);
    font-size: 2.625rem;
  }
  
  /* Hero Image */
  .home-hero-image, .solution-hero-image, .products-hero-image, .customers-stories-hero-image , .home-revolution-image, .autom-mate-hero-image {
    width: 80%;
    margin: var(--mt-medium);
  }
  .insights-hero-image, .about-hero-image {
    margin: var(--mt-medium);
  }
  .home-hero-text, .solution-hero-text, .products-hero-text, .customers-stories-hero-text, .about-hero-text, .insights-hero-text {
    text-align: left;
  }

  /* Grid */
  .grid-blog {
    grid-template-columns: 1fr 1fr;
  }
  a.post-link, .post {
    width: 100%;
  }

  /* Products Page */
  #products-parallax {
    font-size: 8rem !important;
    letter-spacing: -8px;
    line-height: 1.2;
  }
  .wide:has(#products-parallax) {
    position: fixed;
    min-height: 100vh;
    top: 90px;
    z-index: -1;
  }
  .wide:has(#products-parallax-window) {
    min-height: 600px;
  }
  .guiding {
    top: 0px;
  }
    
  /* Fourme Page */
  .fourme-intro {
    width: 100%;
    height: auto;
  }
  #fourme-attributes-title {
    text-align: center;
  }
  #customers-logos, #meet-our-team {
    flex-direction: row;
  }
  #home-advantages-title {
    text-align: center;
  }
  #home-advantages-title .btn-purple {
    display: flex;
  }


  /* Autom Mate Page*/
  .autom-mate-box {
    padding: var(--p-medium);
  }
  .autom-mate-box img {
    width: 120px;
    height: 120px;
    padding: var(--p);
    position: absolute;
    top: -60px;
    left: 155px;
  }

  /* Customers Stories Page */
  .customer-story-description {
    height: 50%;
    padding: var(--p-medium);
  }

  
}